*{
    margin: 0;
    padding: 0;
    font-style: normal;
    box-sizing: border-box;
}
@font-face {
  font-family: 'HarmonyOS_Sans_SC_Regular';
  src: url('@/assets/Fonts/HarmonyOS_Sans_SC_Regular.woff2') format('woff2'),
       url('@/assets/Fonts/HarmonyOS_Sans_SC_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body{
    background-image:url('@/assets/WeatherBackground/Fog.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'HarmonyOS_Sans_SC_Regular';
    overflow-y: auto;
}
body::-webkit-scrollbar {
    display: none; /* 隐藏滚动条 */
}